[submodule "data/external/crpwarner"]
	path = data/external/crpwarner
	url = https://github.com/CRPWarner/RugPull
[submodule "data/external/trapdoordata"]
	path = data/external/trapdoordata
	url = https://github.com/bsdp2023/trapdoor-scam.git
