crytic_compile==0.3.10
evmdasm==0.1.10
imbalanced_learn==0.13.0
joblib==1.4.2
lark==1.2.2
lightgbm==4.6.0
matplotlib==3.10.5
networkx==3.5
numpy==1.26.4
optuna==4.4.0
pandas==2.3.1
pyevmasm==0.2.3
python-dotenv==1.1.1
pyvis==0.3.2
redis==6.2.0
requests==2.32.4
scikit-learn==1.6.1
scipy==1.16.1
setuptools==75.8.0
tensorflow==2.16.2
torch==2.2.2
torch_geometric==2.6.1
tqdm==4.67.1
xgboost==3.0.3
ipython==8.12.3
fastapi
uvicorn
asyncio
