.DS_Store

# Ignore everything
external/*

# Allow zip files anywhere
!external/*.zip

# Allow data in interim
!interim/**
interim/.DS_Store

!processed/**

# Allow .gitkeep files anywhere
!**/.gitkeep

# Allow README.md
!README.md
